B2BORGANIZER_DOMAIN=b2borganizer.example.com
SPRING_APPLICATION_JSON='{
    "spring.data.mongodb.host": "mongo",
    "spring.data.mongodb.port": 27017,
    "spring.data.mongodb.database": "b2bOrganizer",
    "spring.data.mongodb.username": "b2bOrganizer",
    "spring.data.mongodb.password": "CHANGE_ME",
    "pro.b2organizer.mail.receiver.protocol": "imaps",
    "pro.b2organizer.mail.receiver.host": "imap.example.com",
    "pro.b2organizer.mail.receiver.port": 993,
    "pro.b2organizer.mail.receiver.folder": "INBOX",
    "pro.b2organizer.mail.receiver.username": "CHANGE_ME",
    "pro.b2organizer.mail.receiver.password": "CHANGE_ME",
    "spring.mail.host": "smtp.gmail.com",
    "spring.mail.port": 587,
    "spring.mail.username": "CHANGE_ME",
    "spring.mail.password": "CHANGE_ME",
    "spring.mail.protocol": "smtp",
    "spring.mail.properties.mail.smtp.starttls.enable": true,
    "spring.mail.default-encoding": "UTF-8",
    "jwt.secret": "CHANGE_ME",
    "jwt.expirationInMillis": 900000
}'
