# LiteLLM API Keys
ANTHROPIC_API_KEY=CHANGE_ME
GITHUB_TOKEN=CHANGE_ME
OPENROUTER_API_KEY=CHANGE_ME
OLLAMA_API_KEY=CHANGE_ME
DEEPINFRA_API_KEY=CHANGE_ME

GEMINI_API_KEY=CHANGE_ME
REDIS_HOST=litellm-redis
REDIS_PORT=6379
REDIS_PASSWORD=""

# Master key to protect the LiteLLM proxy itself
LITELLM_MASTER_KEY=sk-litellm-master-CHANGE_ME
UI_USERNAME=admin
UI_PASSWORD="CHANGE_ME"
